<h1>Groups for Week <%= @week_number %></h1>

<table>
  <thead>
    <tr>
      <th>Group ID</th>
      <th>Group Leader</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to(group.id, group_path(group.id)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @groups %>
